APP_NAME=restaurant-intelligence
APP_ENV=development
LOG_LEVEL=INFO

VIDEO_SOURCE_TYPE=video
VIDEO_SOURCE=

YOLO_MODEL=yolov8n.pt
CONFIDENCE_THRESHOLD=0.4

TABLE_ZONES_FILE=table_zones.json

BACKEND_URL=http://localhost:4000
